{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}文件详情{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>文件详情</h1>

</div>


<h2 style="color: #2828FF;">{{ file.title }}</h2>
<h4 >
    <strong>上传作者：</strong><a>{{ (users.query.filter_by(id=file.author_id).first()).username }}</a>
</h4>

<h4 >
    <strong>文件格式：</strong>{{ file.format}}
</h4>
<h4 >
    <strong>上传时间：</strong>{{ file.upload_date}}
</h4>
<h4 >
    <strong>文件描述：</strong>
</h4>
<p>{{ file.describe }}</p>
<br>
<h4><strong><a href="{{ url_for('.download',id=file.id)}}" >下载</a></strong></h4>


{% endblock %}
